
<h1>登录界面</h1>
<div>
	<form>
		<label name="username">用户名：</label>
		<input type="text" name="username" id="username">
		<label name="pass">密码: </label>
		<input type="password" name="pass" id="pass">
		<input type="button" id="login" value="登录">
	</form>
	<p id="buttonResult">
	</p>	
</div>

<script id="loginSuccess" type="text/x-handlebars-template">
		<p><em>这只是一个测试</em></p><br/>
		\{{access_token}}
</script>
<!--<script src="/assert/js/jquery-3.2.1.min.js"> </script>-->


