<form action="/user" method="POST" enctype="multipart/form-data">
	头像上传：<input type="file" name="portrait" id="portrait">
	姓名：<input type="text" name="username">
	<input type="submit" name="submit" id="submit" value="提交">
</form>