#content {
	margin-top:50px;
    margin-left: 400px; 
	width: 250px;
    height: 400px; 
} 

form {
   margin-top: 20px;
}

#btn1 {
   margin-left: 60px;
}

input {
  border-radius:5px;
  margin-top: 10px;
}

li {
  list-style: none;
}